:root {
  --color-orange: #ff783b;
  --color-green: #11c742;
  --color-blue: #0678d6;
  --color-white: #fafad2;
  --theme-color: var(--color-orange);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
}

.app-wrapper {
  @apply min-h-screen;
  @apply max-w-screen-sm;
  @apply mx-auto;
  @apply bg-white;
}

.stage-timer {
  @apply mx-auto;
}

.timer-prefix {
  @apply text-base;
  @apply font-normal;
}
.timer {
  @apply text-3xl;
  @apply font-bold;
  @apply text-center;
}

.panels-wrapper {
  @apply p-2;

  background-color: var(--theme-color);
}

.panels {
  @apply grid;
  @apply grid-cols-3;
  @apply gap-2;
  @apply p-2;
  @apply rounded-xl;

  background-color: var(--theme-color);
  /* https://neumorphism.io/#0678d6 */
  box-shadow: inset 4px 4px 4px 0 #023056, inset -4px -4px 4px 0 #0ac0ff;
}

.panel {
  @apply rounded-xl;
  @apply text-5xl;
  @apply text-center;
  @apply text-white;
  @apply bg-gradient-to-br;
  @apply from-yellow-800;
  @apply to-black;

  /* https://neumorphism.io/#0678d6 */
  box-shadow: 4px 4px 8px 0 #023056, -4px -4px 8px 0 #0ac0ff;
}
.panel.empty {
  @apply invisible;
}

.overlay {
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply w-full;
  @apply h-full;
  @apply bg-black;
  @apply bg-opacity-50;
}

.modal-card {
  @apply w-10/12;
  @apply max-w-xs;
  @apply p-5;
  @apply rounded-xl;
  @apply bg-white;

  box-shadow: 20px 20px var(--theme-color);
}

.ready-modal-emoji,
.cleared-modal-emoji,
.failed-modal-emoji,
.all-cleared-modal-emoji {
  @apply m-2;
  @apply text-4xl;
  @apply text-center;
}
.onboarding-modal-icon,
.ready-modal-icon,
.cleared-modal-icon,
.failed-modal-icon,
.all-cleared-modal-icon {
  @apply w-24;
  @apply block;
  @apply mx-auto;
}
.onboarding-modal-title,
.ready-modal-title,
.cleared-modal-title,
.failed-modal-title,
.all-cleared-modal-title {
  @apply mx-auto;
  @apply my-5;
  @apply text-3xl;
  @apply font-bold;
  @apply text-center;
}
.onboarding-modal-title {
  line-height: normal;
}
.ready-modal-sub-title,
.failed-modal-sub-title {
  @apply mb-5;
  @apply text-center;
}
.onboarding-modal-button,
.ready-modal-button,
.cleared-modal-button,
.failed-modal-button {
  @apply block;
  @apply w-11/12;
  @apply mx-auto;
  @apply px-6;
  @apply py-2;
  @apply rounded-full;
  @apply text-center;
  @apply text-white;

  background-color: var(--theme-color);
}
.onboarding-modal-ruby {
  @apply text-xs;
  @apply font-medium;
}
.onboarding-modal-description {
  @apply mb-5;
  @apply text-sm;
}

.count-down-seconds {
  @apply text-5xl;
  @apply font-bold;
  @apply text-white;
}
