@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
}

.app-wrapper {
  @apply min-h-screen;
  @apply max-w-screen-sm;
  @apply mx-auto;
  @apply bg-white;
}

.stage-timer {
  @apply mx-auto;
}

.timer {
  @apply text-3xl;
  @apply font-bold;
  @apply text-center;
}

.panel-wrapper {
  @apply grid;
  @apply grid-cols-3;
  @apply gap-2;
  @apply p-2;
  background-color: #ddd;
}

.panel {
  @apply rounded-xl;
  @apply border;
  @apply border-solid;
  @apply text-5xl;
  @apply font-bold;
  @apply text-center;
  @apply border-black;
  @apply bg-white;
}
.panel.empty {
  @apply invisible;
}

.overlay {
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply w-full;
  @apply h-full;
  @apply bg-black;
  @apply bg-opacity-50;
}

.modal-card {
  @apply w-10/12;
  @apply max-w-xs;
  @apply p-4;
  @apply rounded-xl;
  @apply bg-white;

  box-shadow: 20px 20px #0678d6;
}

.ready-modal-emoji,
.cleared-modal-emoji,
.failed-modal-emoji,
.all-cleared-modal-emoji {
  @apply m-2;
  @apply text-4xl;
  @apply text-center;
}
.ready-modal-title,
.cleared-modal-title,
.failed-modal-title,
.all-cleared-modal-title {
  @apply m-3;
  @apply text-3xl;
  @apply font-bold;
  @apply text-center;
}
.ready-modal-button,
.cleared-modal-button,
.failed-modal-button {
  @apply block;
  @apply w-11/12;
  @apply mx-auto;
  @apply px-6;
  @apply py-2;
  @apply rounded-full;
  @apply text-center;
  @apply bg-blue;
  @apply text-white;
}

.count-down-seconds {
  @apply text-5xl;
  @apply font-bold;
  @apply text-white;
}
